@media all and (max-width: 1200px) {
    #portfolio #portfolio-items .portfolio-item {
        width: 50%;
    }
    
    #portfolio #portfolio-items .portfolio-item:last-child {
        width: 100%;
    }

@media all and (max-width: 768px) {
    #navig .toggle {
        display: block;
        background-color: #FFF;
        padding: 0 20px;
        color: #1AC056;
        font-size: 20px;
        line-height: 60px;
        text-decoration: none;
        border: none;
        text-align: right;
    }
    
    #navig ul {
        display: none;
    }
    
    #navig #drop:checked + ul {
        display: block;
    }
    
    #navig > ul > li {
        display: block;
        width: 100%;
        padding: 20px;
        text-align: right;
        box-sizing: border-box;
    }
    
    #main-header .inner {
        padding: 10%;
    }
    
    /*about section*/
    #about > figure {
        width: 100%;
    }
    
    #about > article {
        width: 100%;
    }
    
    /*Portfolio section*/
    #portfolio #portfolio-items .portfolio-item {
        width: 100%;
    }
    
    /*contact section*/
    #contact .contact-data,
    #contact .contact-data h2 {
        width: 100%;
        text-align: center;
    }
    
    #contact .contact-form {
        width: 100%;
    }
    
    #contact .contact-data contact-social-icons a {
        margin: 0;
    }
    
}

@media all and (max-width: 680px) {
    section {
        padding: 0 40px 50px;
    }   
    
    #main-header .inner h1 {
        font-size: 3em;
    }
    
    #main-header .inner h2 {
        font-size: 1.5em;
    }
}

@media all and (max-width: 480px) {
    section {
        padding: 0 10px 30px;
    }
}